<p appGreenify>{{today|date:'mediumDate'|uppercase}}</p>

<!--
<p>{{5>6?'Yes':'No'}}</p>

<input type="text" placeholder="Enter your name" id="txname"  [(ngModel)]="name" #tname>
<button class="btn btn-info" [disabled]="today.getDay()<0" (click)="addName(tname.value)" >Add Name</button>
<button class="btn btn-danger" [disabled]="!nameList.length" (click)="deleteName()">Delete</button>

<h4 *ngIf="name">{{name}}</h4>

<div>
    <h2 *ngIf="nameList.length">Person List</h2>
    <h2 *ngIf="!nameList.length" class="text-danger">No Names Are Present</h2>
    <ul>
         <li *ngFor="let personName of nameList" [ngStyle]="{'background-color':getBackgroundColor(personName)}">
            {{personName}}
       
        
      
            <li *ngFor="let personName of nameList" [ngClass]="{style1:personName.length>5}">
                <div class="row">
                <div class="col-6">{{personName}}</div>
                <div class="col-6">{{personName.length}}</div>
            </div>
            </li>
     
        
        <div [ngSwitch]="day">
            <div *ngSwitchCase="'Sun Day'">Shop Closed</div>
            <div *ngSwitchCase="'Satur Day'">Partially Open</div>
            <div *ngSwitchDefault>Shop Open</div>
        </div>

    </ul>
</div>
 </li> -->