<h2>Enter Employee Information</h2>
<form class="form-group" [formGroup]="employeeForm">

    <div>
        <label for="empId">Enter ID</label>
        <input type="number" name="employeeId" 
                    id="empId" placeholder="Enter ID (eg - 1001121)" 
                    class="form-control"
                    [class.is-invalid]="employeeForm.get('employeeId').invalid && employeeForm.get('employeeId').touched"
                    formControlName="employeeId"
                    >
  <div *ngIf="employeeForm.get('employeeId').touched">
  <small *ngIf="employeeForm.get('employeeId').errors?.required" class="text-danger">Employee ID is required</small> 
  <small *ngIf="employeeForm.get('employeeId').errors?.min" class="text-danger">Employee ID must contain atleast 6 digits</small> 
</div>
</div>

    <div>
        <label for="empName">Enter Name</label>
        <input type="text" name="employeeName" 
                    id="empName" placeholder="Enter Name (eg - Steve Jobs)" 
                   class="form-control"
                   [class.is-invalid]="employeeForm.get('employeeName').invalid && employeeForm.get('employeeName').touched"
                   formControlName="employeeName"
                    >
                    <div *ngIf="employeeForm.get('employeeName').touched">
                        <small *ngIf="employeeForm.get('employeeName').errors?.required" class="text-danger">Employee Name is required</small> 
                        <small *ngIf="employeeForm.get('employeeName').errors?.minlength" class="text-danger">Name must contain atleast 3 characters</small> 
                        <small *ngIf="employeeForm.get('employeeName').errors?.forbiddenName" class="text-danger">Name not allowed</small> 
                      </div>
    </div>

    <div>
        <label for="email">Enter Email</label>
        <input type="email" name="email" id="email"
                 placeholder="Enter Email (eg - steve@xyz.com)" 
                 class="form-control"
                 [class.is-invalid]="employeeForm.get('email').invalid && employeeForm.get('email').touched"
                 formControlName="email">
                 <div *ngIf="employeeForm.get('email').touched">
                    <small *ngIf="employeeForm.get('email').errors?.required" class="text-danger">Email is required</small> 
                    <small *ngIf="employeeForm.get('email').errors?.email" class="text-danger">Invalid Email</small> 
                  </div>
    </div>

    <div>
        <label for="salary">Enter Salary</label>
        <input type="number" name="salary" id="salary" 
                    placeholder="Enter Salary (eg - 50000)" 
                    class="form-control"
                    formControlName="salary">
    </div>

    <div formGroupName="addressForm">
        <div>
            <label for="empCity">Enter City</label>
            <input type="text" name="city" 
                        id="empCity" placeholder="Enter City (eg - Bangalore)" 
                       class="form-control"
                       formControlName="city"
                        >
        </div>
    
        <div>
            <label for="empState">Enter State</label>
            <input type="text" name="state" id="empState"
                     placeholder="Enter State (eg - Karnataka)" 
                     class="form-control"
                     formControlName="state">
        </div>
    
        <div>
            <label for="zip">Enter ZipCode</label>
            <input type="number" name="zipCode" id="zip" 
                        placeholder="Enter ZipCode (eg - 560011)" 
                        class="form-control"
                        formControlName="zipCode">
        </div>
    
    </div>


    <button type="button" (click)="fun()" class="btn btn-dark">Submit Details</button>

    
</form>

<!-- <table class="table-dark">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor="let employee of employeeList">
        <td>{{employee.employeeId}}</td>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.salary}}</td>
    </tr>
</table> -->

{{employeeForm.value|json}}