<h2>List of Employee</h2>
<table class="table">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Show Details</th>
    </tr>
    <tr *ngFor="let employee of data.employeeList">
        <td>{{employee.employeeId}}</td>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.email|uppercase|email:5:'###'}}</td>
        <td>{{employee.salary}}</td>
        <td><button class="btn btn-info" (click)="showEmployee(employee.employeeId)">Show</button></td>
    </tr>
</table>

