<h2>Update Employee Information</h2>
<form class="form-group" (submit)="updateEmployee()" #f="ngForm">

    <div>
        <label for="empId">Enter ID</label>
        <input type="number" name="employeeId" 
                    id="empId" placeholder="Enter ID (eg - 1001121)" 
                    ngModel
                    class="form-control"
                    required
                    [(ngModel)]="employee.employeeId"
                    #empId="ngModel"
                    [class.is-invalid]="empId.invalid && empId.touched"
                    readonly
                    >
    <small *ngIf="empId.invalid && empId.touched" class="text-danger">Employee ID is required</small>
    </div>

    <div>
        <label for="empName">Enter Name</label>
        <input type="text" name="employeeName" 
                    id="empName" placeholder="Enter Name (eg - Steve Jobs)" 
                    ngModel class="form-control"
                    [(ngModel)]="employee.employeeName"
                    required>
    </div>

    <div>
        <label for="email">Enter Email</label>
        <input type="email" name="email" id="email"
                 placeholder="Enter Email (eg - steve@xyz.com)" 
                 ngModel class="form-control"
                 [(ngModel)]="employee.email"
                 required>
    </div>

    <div>
        <label for="salary">Enter Salary</label>
        <input type="number" name="salary" id="salary" 
                    placeholder="Enter Salary (eg - 50000)" 
                    ngModel class="form-control"
                    [(ngModel)]="employee.salary"
                    required>
    </div>

    <button type="submit" [disabled]="f.invalid" class="btn btn-dark">Update Employee</button>

    
</form>


